In [1]:
import numpy as np
import pandas as pd

air = pd.read_csv("D:/Python/Python Assignments/DataSets/airquality.csv", sep=',', header=0)

In [3]:
air.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

In [4]:
air.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

In [20]:
air.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

In [5]:
# 1.	Fetch the observations for 9 day of June

air[(air['Month'] == 6) & (air['Day'] == 9)]

    Ozone  Solar.R  Wind  Temp  Month  Day
39   71.0    291.0  13.8    90      6    9

In [6]:
# 2.	Find Average temperature for the month of June. 

t = round(air[air['Month'] == 6]['Temp'].agg('mean'),2)
print('Average temperature for June is :',t)

Average temperature for June is : 79.1

In [17]:
# 3. To which day of June has the least temperature

air[air['Month'] == 6].sort_values('Temp').head(1)[['Day','Temp']]

    Day  Temp
48   18    65

In [18]:
# 4.	Find Maximum Ozone value for the month of May
air[air['Month'] == 5]['Ozone'].agg('max')

115.0

In [20]:
# 5.	Find the count of the missing values in the ozone column of the data set
air.Ozone.isnull().sum()

37

In [21]:
# 6.	Find out What is the mean of the Ozone column in this dataset
round(air['Ozone'].mean(),2)

42.13

In [25]:
# 7.	Find out which month has the highest temperature

m = air[air['Temp'] == air['Temp'].max()]['Month'].tolist()
print('The month which has the highest temperature is :',m[0])

The month which has the highest temperature is : 8

In [26]:
# 8.	Find out the wind value when the Ozone becomes maximum
air.sort_values('Ozone',ascending=False).head(1)[['Wind','Ozone']]

     Wind  Ozone
116   3.4  168.0

In [31]:
# 9.	Find out the months for which the airquality observations have been carried out
air.Month.unique().tolist()

[5, 6, 7, 8, 9]

In [33]:
# 10.	Find the Ozone and temperature values for the 1st observation of every month.
air[air.Day==1][['Month','Ozone','Temp']]

     Month  Ozone  Temp
0        5   41.0    67
31       6    NaN    78
61       7  135.0    84
92       8   39.0    81
123      9   96.0    91

In [34]:
# 11.	Which day of which month corresponds to the least Ozone Value
air.sort_values('Ozone',ascending=True).head(1)[['Month','Day','Ozone']]

    Month  Day  Ozone
20      5   21    1.0

In [36]:
# 12.	Convert the temperature for all the observations to Centigrade scale
round(((air.Temp-32)*5)/9,2)

0      19.44
1      22.22
2      23.33
3      16.67
4      13.33
5      18.89
6      18.33
7      15.00
8      16.11
9      20.56
10     23.33
11     20.56
12     18.89
13     20.00
14     14.44
15     17.78
16     18.89
17     13.89
18     20.00
19     16.67
20     15.00
21     22.78
22     16.11
23     16.11
24     13.89
25     14.44
26     13.89
27     19.44
28     27.22
29     26.11
       ...
123    32.78
124    33.33
125    33.89
126    33.89
127    30.56
128    28.89
129    26.67
130    25.56
131    23.89
132    22.78
133    27.22
134    24.44
135    25.00
136    21.67
137    21.67
138    25.56
139    19.44
140    24.44
141    20.00
142    27.78
143    17.78
144    21.67
145    27.22
146    20.56
147    17.22
148    21.11
149    25.00
150    23.89
151    24.44
152    20.00
Name: Temp, Length: 153, dtype: float64